1)

In [18]:
me_array = [ 'Andres','Vaughan','California','Orange']

In [19]:
import numpy as np

In [31]:
low = np.char.lower(me_array)
low

array(['andres', 'vaughan', 'california', 'orange'], dtype='<U10')

In [34]:
amount_a = np.char.count(low,'a')
np.sum(amount_a)

6

2)

In [37]:
Eother_odd = np.arange(1,42,2)
Eother_odd

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41])

In [38]:
np.sum(Eother_odd)

441

In [39]:
np.prod(Eother_odd)

832818673

In [40]:
np.log(Eother_odd)

array([0.        , 1.09861229, 1.60943791, 1.94591015, 2.19722458,
       2.39789527, 2.56494936, 2.7080502 , 2.83321334, 2.94443898,
       3.04452244, 3.13549422, 3.21887582, 3.29583687, 3.36729583,
       3.4339872 , 3.49650756, 3.55534806, 3.61091791, 3.66356165,
       3.71357207])

In [43]:
diff = np.diff(Eother_odd)
sum_diff = np.sum(diff)
sum_diff

40