1)

In [23]:
name = "Andres Vaughan"
age = 20
hometown = "San Francisco"

In [24]:
print ("I am {}, I am {} years old, I'm from {}".format(name,age,hometown))

I am Andres Vaughan, I am 20 years old, I'm from San Francisco

In [29]:
print ("I am {}, I am {} years old, I'm from {}".format(name.lower(),age,hometown))

I am andres vaughan, I am 20 years old, I'm from San Francisco

In [28]:
name.lower()

'andres vaughan'

In [34]:
name.title()

'Andres Vaughan'

2)

In [33]:
line = "I am {}, I am {} years old, I'm from {}".format(name,age,hometown)
line

"I am Andres Vaughan, I am 20 years old, I'm from San Francisco"

In [36]:
new_line = line.replace('I am','He is')
finished_line = new_line.replace("I'm","He's")
finished_line

"He is Andres Vaughan, He is 20 years old, He's from San Francisco"

3)

In [43]:
len(line) > int(age)+20

True